footer{
	height: 450px;
}
main{
	font-family: ALKATIP Basma Tom;
	margin: 0 auto;
	width: 1200px;
	height: 900px;
}
main #container{
	background: antiquewhite;/*背景颜色*/
	font-family: Es T;
	width: 670px;
	margin: 0 auto;
	/* height:815px; */
}
.main-div1 .sect0 p{
	font-size: 30px;
	color: #2718ff;
	line-height: 40px;
	text-align: center;
	line-height: 50px;
	background-color: #fff152;
	width: 400px;
}
.main-div1{
	width: 400px;
}
.sect2 ul li span{
	padding-top: 17px;
	width: 10px ;
	height: 10px;
	display: inline-block;
	/* text-align: right; */
	/* list-style-type: circle; */
	background: url(../img/icon3.png) no-repeat;
	transform: rotate(180deg);
	line-height: 45px;
	/* vertical-align: top; */
}
.main-div1 .sect2{
	width: 400px;
}
.main-div1 .sect2>ul li a{
	direction: rtl;
	line-height: 45px;
	font-size: 20px;
	font-family: UKIJ Qolyazma;
	display: inline-block;
	width: 360px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: top;
}
.main-div1 .sect2>ul>li a:hover{
	color: red;
	transition: margin-left 0.1s;
}
#container .main-div1 .sect2 ul a:hover{
	margin-right: 20px;
}
.main-div1, .main-div2{
	height: 450px;
}
.main-div2{
	/* font-family: UKIJMejT; */
	width:270px ;
}
.main-div2 .sect1-span{
	height: 50px;
	background:#006ba1;
	color:#fff;
}
.main-div2 .sect1-span p{
	/* display: inline-block; */
	/* font-size:35px; */
/* 	margin-left: 25%; */
}
.main-div1 .sect1-span figure img{
	float: right;
	width: 200px;
	border-radius: 150px;
}
.main-div2 .sect2>ul li a{
	direction: rtl;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	vertical-align: top;
	width: 250px;
	line-height: 40px;
	display: inline-block;
}
.main-div2 .sect2>ul li a:hover{
	font-size: 25px;
}
.main-div2 .sect2{
	font-family: UKIJ TuT;
}
.sect1-span span{
	top: 10px;
	float:left;
	line-height: 50px;
}
/* 图片和文字彻换 #id container 下面 */
.mian_in_div3{
	position: relative;
	width: 670px;
	height: 450px;
	background: #eee;
}
.mian_in_div3 img{
	width: 670px;
	height: 450px;
	
}
.mian_in_div3 .img_next span{
	position:absolute;
	color: #006ba1;
	bottom: 10px;
	right: 0px;
	text-align: right;
	/* 透明度 */
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-family: UKIJ Qolyazma;
	/* 加粗 */
	font-weight: 400;
	/* 字体倾斜 */
	font-style: oblique;
	padding-right: 5px;
	/* 字距里 */
	word-spacing: 5px;
	
	/* text-indent: 10px; */
	text-indent: right;
}
.main-div3{
	/* margin-right: 10px; */
	/* border: 2px solid #ff0000; */
	width:530px ;
	/* height: 810px; */
}
.main-div3 #app{
	position: relative;
	background-color: #ffffff;
	height: 250px;
	width:530px ;
	display: block;
}
.main-div3 #app img{
	float: right;
	width:530px ;
	height: 250px;
}
.main-div3 button{
	width: 50px;
	height:200px ;
	background: none;
	border:none;
	display: none;
}
.main-div3 #app:hover button{
	display: block;
}
.main-div3 #prev{
	color: #efefef;
	position: absolute;
	top: 10%;
	right: 0%;
	font-size: 50px;
}
.main-div3 #next{
	color: #ffffff;
	position: absolute;
	top: 10%;
	left: 0%;
	font-size: 50px;
}
.main-div3 .sect5 img{
	width: 530px;
	height: 95px;
}
.main-div3 #app li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #eee;
	
}
.main-div3 #app #sum{
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #efefef;
	left: 50%;
	bottom: 0%;
	position: absolute;
}
.main-div3 #app>img{
	width: 100%;
	display: block;
}
.main-div3 .sect3{
	height: 50px;
	background: #00ff00;
}
.main-div3 .sect3 p{
	float: right;
	margin-right: 10px;
	font-family:UKIJTe;
	display: inline-block;
	font-size:20px;
	line-height: 50px;
}
.sect1-span>P{
	float: right;
	margin-right: 10px;
	font-family:UKIJTe;
	display: inline-block;
	font-size:20px;
	line-height: 50px;
}
.main-div3 .sect3 span{
	line-height: 50px;
}
.main-div3 .sect5>img{
	display: block;
}
.main-div4{
	width: 800px;
	height: 500px;
}

