nav{
	margin: 0 auto;
	padding: 0;
	/* width: 1200px; */
	background: #006ba1;
}
#var-div{
	
	background: #006ba1;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
}
#var-div>ul{
	position: relative;
	width: 1200px;
	height: 38px;
}
#var-div>ul>a>li:hover{
	background-color: #ffffff;
}
#var-div>ul li{
	line-height: 38px;
	text-align: center;
	height: 38px;
	float: right;
	width: 171.4px;
	list-style-type: none;
	font-family:Es T;
	font-size: 18px;
}
#var-div .cou{
	background-color: #ffffff;
}
.shan{
	display: none;
}
#var-div .bax{
	background: #ffffff;
	
}
/* 定位 */
#var-div .li-xala{
	margin-top: 38px;
	right:0;
	position: absolute;
}
#var-div .li-xier{
	position: absolute;
	right: 171.39px;
	margin-top: 38px;
	
}
#var-div .makal_tamsil{
	position: absolute;
	right: 514.17px;
	margin-top: 38px;
}
#a-hover:hover span>p{
	display: block;
	background: #006ba1;
	opacity: 0.9;
}
/* #box1:hover span>p>a,#a-hover:hover span>p>a{
	opacity: 1;
} */
#a-hover:hover span>p:last-child{
	border-radius: 0 0 10px 10px;
}
/* 首页的hover */
#a-hover p{
	display: none;
	width: 171.4px;
	background: antiquewhite;
}
#var-div span>p>a{
	color: #ffffff;
}
#var-div span>p:hover a,#a-hover span p:hover  a{
	color: black;
}
#var-div span>p:hover,#a-hover:hover{
	background: #ffffff;
	color: black;
	opacity: 1;
}
.nav-img{
	margin: 0 auto;
	padding: 0;
	width: 1200px;
}
.nav-img>img{
	display: block;
	width: 100%;
	/* text-align:right; */
}