@font-face {UKIJ Esliye Neqish
	font-family:ALKATIP Basma Bold;
	src: url(./wwezt/ALKATIP Basma Bold.TTF);
}
@font-face {
	font-family:ALKATIP Basma Tom Bold;
	src: url(./wwezt/ALKATIP Basma Tom Bold.TTF);
}
@font-face {
	font-family:ALKATIP Basma Tom;
	src: url(.E/wwezt/ALKATIP Basma Tom.TTF);
}
@font-face {
	font-family:ALKATIP Basma;
	src: url(./wwezt/ALKATIP Basma.TTF);
}
@font-face {
	font-family:ALKATIP Kitab Tom;
	src: url(./wwezt/ALKATIP Kitab Tom.TTF);
}
@font-face {
	font-family:ALKATIP Kitab;
	src: url(./wwezt/ALKATIP Kitab.TTF);
}
@font-face {
	font-family:ALKATIP Tor Tom;
	src: url(./wwezt/ALKATIP Tor Tom.TTF);
}
@font-face {
	font-family:ALKATIP Tor;
	src: url(./wwezt/ALKATIP Tor.TTF);
}
@font-face {
	font-family:UKIJ3D;
	src: url(./wwezt/UKIJ3D.ttf);
}
@font-face {
	font-family:UKIJ DiY;
	src: url(./wwezt/UKIJDiY.ttf);
}
@font-face {
	font-family:UKIJEs;
	src: url(./wwezt/UKIJEs.ttf);
}
@font-face {
	font-family:UKIJ EsN;
	src: url(./wwezt/UKIJEsN.ttf);
}@font-face {
	font-family:Es Q;
	src: url(./wwezt/UKIJEsQ.ttf);
}@font-face {
	font-family:Es T;
	src: url(./wwezt/UKIJEsT.ttf);
}@font-face {
	font-family:UKIJ Here;
	src: url(./wwezt/UKIJHere.ttf);
}
@font-face {
	/* font-family:UKIJ Inichke; */
	src: url(./wwezt/UKIJInichke.ttf);
}
@font-face {
	font-family:UKIJ Je;
	src: url(./wwezt/UKIJJe.ttf);
}
@font-face {
	font-family:UKIJKYT;
	src: url(./wwezt/UKIJKYT.ttf);
}
@font-face {
	font-family:UKIJ Ka;
	src: url(./wwezt/UKIJKa.ttf);
}
@font-face {
	font-family:UKIJKu;
	src: url(./wwezt/UKIJKu.ttf);
}
@font-face {
	font-family:UKIJ Ku 3D;
	src: url(./wwezt/UKIJKu3D.ttf);
}
@font-face {
	/* font-family:UKIJKuT; */
	src: url(../HOME PAGE/wwezt/UKIJKuT.ttf);
}
@font-face{
	font-family:UKIJKuY;
	src: url(./wwezt/UKIJKuY.ttf);
}
@font-face{
	font-family:UKIJ Me;
	src: url(./wwezt/UKIJMe.ttf);
}
@font-face {
	font-family:UKIJMejT;
	src: url(./wwezt/UKIJMejT.ttf);
}
@font-face {
	font-family:UKIJMejn;
	src: url(./wwezt/UKIJMejn.ttf);
}
@font-face {
	font-family:UKIJNsq;
	src: url(./wwezt/UKIJNsq.ttf);
}
@font-face {
	font-family: UKIJ Saet;
	src: url(./wwezt/UKIJSaet.ttf);
}
@font-face {
	font-family:UKIJ Qolyazma;
	src: url(./wwezt/UKIJQolyazma.ttf);
}
@font-face {
	font-family:UKIJ Re;
	src: url(./wwezt/UKIJRe.ttf);
}
@font-face {
	font-family:UKIJRu;
	src: url(./wwezt/UKIJRu.ttf);
}
@font-face {
	font-family:UKIJ RuG;
	src: url(./wwezt/UKIJRuG.ttf);
}
@font-face {
	font-family:UKIJTe;
	src: url(./wwezt/UKIJTe.ttf);
}
@font-face {
	font-family:UKIJ Tu-a;
	src: url(./wwezt/UKIJTu-a.ttf);
}
@font-face {
	font-family:UKIJ Tu-b;
	src: url(./wwezt/UKIJTu-b.ttf);
}
@font-face {
	font-family:UKIJ TuT;
	src: url(./wwezt/UKIJTuT.ttf);
}
@font-face {
	font-family:UKIJ Tuzd;
	src: url(./wwezt/UKIJTuzd.ttf);
}
@font-face {
	font-family:UKIJUzum;
	src: url(./wwezt/UKIJUzum.ttf);
}
@font-face {
	font-family:UKIJ Zilwa;
	src: url(./wwezt/UKIJZilwa.ttf);
}
